@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    margin-top: -78px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 600px) {
    :root{
        margin-top: -78px;
    }
}